.button {
    font-size: $huge-font;
    font-weight: 300;

    color: $off-black;
    background-color: $off-white;

    border: 1px solid black;
    border-radius: $s-size;
    padding: $s-size;

    display: inline-block;
    line-height: 1;
    text-decoration: none;
}


// Not used
.button--link {
    background: none;
}

.button--secondary {
    background: #888888;
}