.button {
    font-size: $large-font;
    font-weight: 500;

    border: 2px solid black;
    border-radius: $s-size;

    padding: $m-size;

    display: inline-block;
    line-height: 1;
    text-decoration: none;

    color: $off-black;
    background-color: $off-white;
    &:hover {
        background-color: $off-black;
        color: $off-white;
    }
    
}

.button-link {
    font-size: $large-font;
    font-weight: 300;
    
    border: none;

    color: $off-black;
    background-color: white;
    &:hover {
        // color: black;
        font-weight: 500;
    }

    
    padding-top: $s-size;
}
