.double-button {
    margin-bottom: $m-size;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
}

.single-button {
    margin-bottom: $m-size;
    padding: 0;
    text-align: right;
}


.stack-buttons {
    display: flex;
    flex-direction: column;

    > * {
        margin-top: $s-size;
    }
}

  
