.form {
    display: flex;
    flex-direction: column;

}

.form__box {
    border: 2px solid black;
    border-radius: $s-size;
    background-color: $off-white;

    padding: $s-size;

    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: $s-size;
    }

    & .single-button {
        margin-bottom: 0; // Used for "Add project" button
    }

    margin-bottom: $m-size;
}

.form__title {
    margin: 0 0 $s-size 0;

    color: $off-black;
    font-size: $large-font;
    font-style: italic;
    font-weight: 300;

    text-align: center;
}

.form__error {
    color: grey;
    margin: 0 0 $s-size 0;
    font-style: italic;
}