.header__title {
    text-decoration: none;
    text-align: center;

    font-size: $large-font;

    color: black;
    &:hover {
        font-size: #{$large-font * 1.2};
    }

    
}

.header__box {
    border: 2px solid black;
    border-radius: $s-size;
    background-color: $off-white;

    display: flex;
    justify-content: center;
    align-items: center;

    // Constant height so that the header won't destory the UI when hover
    height: 10rem; 
    
}

.header__button {
    text-align: right;
}

