.header__title {
    text-decoration: none;
    text-align: center;
    color: $off-black;
    &:hover {
        color: black;
    }

}

.header__box {
    border: 2px solid black;
    border-radius: $s-size;
    background-color: $off-white;
}


// Not used
.header {
    background: $off-white;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: $s-size 0;
}
