
.info__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.info__label {
    font-style: bold;
    font-size: $large-font;
}

.info__message {
    font-style: italic;
    color: $off-black;
}

