.text-input {
    border: 1px solid $off-black;
    border-radius: 0.5rem;
    height: 50px;

    font-size: $large-font;
    font-weight: 300;

    padding: $s-size;
}

.select {
    @extend .text-input;
}

.inputs-group {
    margin-bottom: $m-size;
    padding: 0;
    
    display: flex;
    flex-direction: row;

    > * {
        margin-right: $s-size;
    }

}