.page-summary {
    margin-bottom: $l-size;
    padding: $l-size 0;
    text-align: right;
}
  
.page-summary__title {
    font-size: $huge-font;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}