html {
  font-size: 62.5%;
}

body {
  
  font-family: 'PT Mono', monospace, Helvetica, Arial, sans-serif;
  font-size: $medium-font;
  
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
